/**
 * Page banner image styles
 * 
 * @package acrux
 */  
  .banner {
    margin-bottom: 3rem;
  }
  
  .banner-img {
    padding: 20px;
    background-size: cover !important;
    background-position: 50% 30% !important;
    background-repeat: no-repeat !important;
    position: relative;
    max-height: 90vh;
  }
  
  .banner-img-full {
    height: 800px;
  }
  
  .banner-img-small {
    height: 400px;
  }
  
  .banner-overlay::before {
    content: "";
    color: #fff;
    background-color: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .4;
    z-index: 0;
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
  }
  
  .page-title {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 1;
  
    .button {
      padding: 15px 45px;
      font-size: 1.1rem;
      position: absolute;
      bottom: 100px;
    }
  
    h1 {
      font-size: 3rem;
      color: #fff;
      text-transform: uppercase;
    }
  
    h2 {
      font-size: 1.75rem;
      color: #fff;
      text-transform: uppercase;
    }
  }
  
  .banner-img-small h1 {
    margin-top: 5%;
  }
  
  .d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .img-page-title {
    height: 60px;
  }
  
  @media (max-width: 991px) {
    .banner-img {
      margin-top: unset;
    }
  
    .banner-img-full {
      .page-title h1 {
        margin-top: unset;
      }
  
      height: 600px;
    }
  
    .banner-img-small {
      height: 300px;
    }
  
    .page-title {
      h1 {
        font-size: 2rem;
      }
  
      h2 {
        font-size: 1.75rem;
      }
  
      .button {
        padding: 10px 35px;
        font-size: 1.1rem;
        position: absolute;
        bottom: 100px;
      }
    }
  }