/**
 * WP Block styles
 * 
 * @package acrux
 */

.wp-block-group {
	margin-right: auto;
	margin-left: auto;
	max-width: var(--content-width);

	&.has-background {
		padding: 20px;
		margin-top: 0;
		margin-bottom: 0;
	}
}
.alignwide {
	max-width: var(--content-width-wide);
}
.alignfull {
	max-width: 100%;
}

.has-main-color{
	color: var(--color-main) !important;
}
.has-main-background-color{
	background-color: var(--color-main) !important;
}
.has-secondary-color{
	color: var(--color-second) !important;
}
.has-secondary-background-color{
	background-color: var(--color-second) !important;

	& ::selection {
		background-color: var(--color-main);
		color: #fff;
	}
}
.has-third-color{
	color: var(--color-third) !important;
}
.has-third-background-color{
	background-color: var(--color-third) !important;
}
.has-smoke-color{
	color: #eeeeee !important;
}
.has-smoke-background-color{
	background-color: #eeeeee !important;
}
.has-white-color{
	color: #ffffff !important;
}
.has-white-background-color{
	background-color: #ffffff !important;
}
.has-black-color{
	color: #000000 !important;
}
.has-black-background-color{
	background-color: #000000 !important;
}
.has-yellow-color{
	color: #FDBF30 !important;
}
.has-yellow-background-color{
	background-color: #FDBF30 !important;
}
.has-red-color{
	color: #EF454E !important;
}
.has-red-background-color{
	background-color: #EF454E !important;
}
.has-orange-color{
	color: #FF7518 !important;
}
.has-orange-background-color{
	background-color: #FF7518 !important;
}