/**
 * Main elements styles
 * 
 * @package acrux
 */

html,
body{
	margin: 0;
	padding: 0;
	width: 100%;
}
body {
	box-sizing: border-box;
	background-position: top;
	font-family: var(--main-font-family);
	background: #fff;
}
.site-main{
	margin-top: 10em;
	&.page-keyvisual{
		margin-top:0;

		& .entry-title{
			display: none;
		}
	}
}
.page-content {
	font-family: inherit;
	margin: 0 auto;
	box-sizing: inherit;
	align-content: center;
	> * {
		margin-right: auto;
		margin-left: auto;
		max-width: var(--content-width);
	}
}
.container {
	font-family: inherit;
	margin: 0 auto;
}

/* BREADCRUMBS ---------------------------------------------------------------------------- */
#breadcrumbs {
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
	font-size: 0.8rem;
	margin-top: 10px;
	margin-bottom: 0;
	width: 1000px;
	max-width: 92%;
	text-transform: lowercase;
	a {
		&:hover, &:focus {
			color: var(--color-main);
		}
	}
}
/* GRID POST LAYOUT ---------------------------------------------------------------------------- */
.grid-item-inner {
	background: #f9f9f9;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.43);
	box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.43);
}
.grid-item img {
	width: 100%;
	height: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.grid-item-content {
	padding: 20px;
	position: relative;
	
	& a{
		& h4 {
			font-size: 1.2rem;
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 1.2rem;
			color: #000;	
		}
		&:hover {
			text-decoration: none;
		}
	}
}