/**
 * Defines custom styling properties
 * 
 * @package acrux
 */

:root {
    font-size: 18px;
    --main-font-family:"Jost","Helvetica Neue","Arial Narrow",sans-serif;
    --color-main:#1a733f;
    --color-second:#25a44a;
    --color-third:#8FD2EC;
    --main-gray:#333333;
    --font-gray:#464646;
    --color-theme-white:#fff;
    --content-width:45rem;
    --content-width-wide:55rem;
}
  
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}  

::selection {
    background-color: var(--color-second);
    color: #fff;
}
::-moz-selection, ::-o-selection, ::-ms-selection, ::-webkit-selection {
    background-color: var(--color-second);
    color: #fff;
}