/**
 * Theme Footer styles
 * 
 * @package acrux
 */
.footer {
    text-align: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--main-gray);
    color: #fff;
    padding: 30px 10px;
    margin: 0 auto;
    margin-top: 3rem;
    box-sizing: inherit;
    align-content: center;
  
    h4 {
      margin: 0;
      margin-top: 10px;
      color: #fff;
    }
  
    p {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  
    a {
      color: #fff;
      font-weight: 500;
  
      &:hover, &:focus {
        color: #fff !important;
        text-decoration: none;
      }
    }
  
    .contact {
      font-size: 1rem;
      color: #fff;
      font-weight: 500;
      display: block;
    }
  
    img {
      height: 100px;
      margin: 5px;
    }
  }
  
  .footer-menu {
    margin-top: 10px;
  
    ul {
      list-style-type: none;
      list-style: none;
      list-style-image: none;
      padding: 0;
    }
  
    li {
      display: inline;
    }
  }
  
  .footer-nav-menu ul li {
    &::after {
      content: "|";
      color: #fff;
      margin-left: 10px;
      margin-right: 5px;
    }
  
    &:last-child::after {
      display: none;
    }
  }
  
  .footer .searchbox {
    font-size: 1rem;
    background-color: #535353;
  }
  
  @media (max-width: 991px) {
    .footer-menu .social-menu {
      text-align: center;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 20px;
    }
  }
  
  /* END CREDITS ---------------------------------------------------------------------------- */
  
  .end-credits {
    a {
      color: inherit;
      font-weight: inherit;
    }
  
    background: #222;
    color: rgb(168, 168, 168) !important;
    font-size: 0.75rem;
    text-align: center;
    font-weight: 400;
    padding: 3px;
  }