/**
 * Anchor tags and button styles
 * 
 * @package acrux
 */  
 
button {
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: .8rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 7px 14px;
  }
  
  .button, .wp-block-button .wp-block-button__link{
    display: inline-block;
    margin: 0 auto;
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    border-radius: 20em;
    transition: all .2s ease;
    color: #ffffff;
    min-width: 8rem;

    &.has-main-color{
      color: var(--color-main) !important;
    }
    &.has-main-background-color{
      background-color: var(--color-main) !important;
    }
    &.has-secondary-color{
      color: var(--color-second) !important;
    }
    &.has-secondary-background-color{
      background-color: var(--color-second) !important;
    }
    &.has-third-color{
      color: var(--color-third) !important;
    }
    &.has-third-background-color{
      background-color: var(--color-third) !important;
    }
    &.has-smoke-color{
      color: #eeeeee !important;
    }
    &.has-smoke-background-color{
      background-color: #eeeeee !important;
    }
    &.has-white-color{
      color: #ffffff !important;
    }
    &.has-white-background-color{
      background-color: #ffffff !important;
    }
    &.has-black-color{
      color: #000000 !important;
    }
    &.has-black-background-color{
      background-color: #000000 !important;
    }
    &.has-yellow-color{
      color: #FDBF30 !important;
    }
    &.has-yellow-background-color{
      background-color: #FDBF30 !important;
    }
    &.has-red-color{
      color: #EF454E !important;
    }
    &.has-red-background-color{
      background-color: #EF454E !important;
    }
    &.has-orange-color{
      color: #FF7518 !important;
    }
    &.has-orange-background-color{
      background-color: #FF7518 !important;
    }

    &:focus, &:hover {
      -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
      text-decoration: none !important;
      color: #ffffff;

      &.has-main-background-color{
        background-color: var(--color-second) !important;
      }
      &.has-secondary-background-color{
        background-color: var(--color-third) !important;
      }
      &.has-third-background-color{
        color: var(--color-third) !important;
        background-color: #ffffff !important;
      }
      &.has-smoke-background-color{
        background-color: #eeeeee !important;
      }
      &.has-white-background-color{
        background-color: #ffffff !important;
      }
      &.has-black-background-color{
        background-color: #000000 !important;
      }
      &.has-yellow-background-color{
        background-color: #FF7518 !important;
      }
      &.has-red-background-color{
        background-color: #FDBF30 !important;
      }
      &.has-orange-background-color{
        background-color: #EF454E !important;
      }
    }
  }
  
  
  .btn-white:hover, .has-main-color has-main-background-color:hover {
    background-color: var(--color-second);
    color: #fff !important;
  }
  
  .has-secondary-color has-secondary-background-color:hover {
    background-color: var(--color-third);
    color: #fff !important;
  }
  
  .btn-color-third:hover {
    background-color: #fff;
    color: var(--color-third) !important;
  }
  
  a:focus, button:focus {
    outline: none;
  }

  /* ARCHIVE CATEGORY BUTTONS ---------------------------------------------------------------------------- */
ul.categories {
	padding: 0;
	li {
		list-style: none;
		list-style-type: none;
		margin: 0;
		padding: 0;
		a {
			list-style: none;
			list-style-type: none;
			margin: 0 20px 15px 0;
			float: left;
			padding: 10px 25px;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 700;
			font-size: .85rem;
			border-radius: 20em;
			transition: all .2s ease;
			background-color: #c4c4c4;
			color: #4d4d4d;
			&:hover {
				text-decoration: none;
				background: var(--color-second);
				color: #fff;
			}
		}
	}
	.current-cat a {
		background: #25a44a;
		color: #fff;
	}
}
.clear {
	clear: both;
}
.posts-page {
	max-width: var(--content-width-wide);
	> * {
		max-width: var(--content-width-wide);
	}
}