/**
 * Desktop navigation bar styles
 * 
 * @package acrux
 */

.navbar-desktop-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .navbar-desktop {
    position: sticky;
    background-color: var(--color-main);
    color: var(--font-gray);
    height: 70px;
    padding: 0 14px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0;
    display: flex;
    -webkit-box-shadow: 5px 1px 5px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 1px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 1px 5px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
  }
  
  .navbar-desktop-logo-container {
    position: absolute;
    float: left;
  }
  
  .navbar-desktop-logo {
    transition: all 0.3s ease;
    max-width: 90px;
    margin-top: -10px;
  }
  
  .navbar-desktop-menu {
    margin: auto;
    width: 70%;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      color: #ffffff52;
      display: inline-block;
      border-right: 1px solid;
  
      &:last-child {
        border-right: 0;
      }
    }
  }
  
  .menu-main-container a {
    color: #fff;
    font-weight: 500;
    padding: 0 20px;
  
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  
  /* Sub menu */
  
  .menu-item-has-children .sub-menu {
    display: none;
  }
  
  .navbar-desktop-menu {
    .menu-item-has-children.open-sub-menu .sub-menu {
      height: auto;
      display: grid;
      background: var(--color-second);
      position: absolute;
      border-radius: 25px;
    }
  
    .open-sub-menu .sub-menu {
      li {
        border: unset !important;
      }
  
      a {
        display: block;
        padding: .5rem 1rem;
        font-weight: 500;
        font-size: 1rem;
        text-align: inherit;
        background: var(--color-second);
  
        &:hover {
          background: var(--color-main);
          border-radius: 10px !important;
        }
      }
  
      li {
        &:first-child a {
          -moz-border-radius-topleft: 10px;
          -moz-border-radius-topright: 10px;
          -webkit-border-top-left-radius: 10px;
          -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
  
        &:last-child a {
          -moz-border-radius-bottomleft: 10px;
          -moz-border-radius-bottomright: 10px;
          -webkit-border-bottom-left-radius: 10px;
          -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
    }
  }
  
    /*
   Save this for mobile!!!!s 
    .navbar-desktop-menu .open-sub-menu .sub-menu li:not(:last-child):after {
      content: "";
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%) translateY(-1px);
      height: 2px;
      width: 60px;
      background-color: var(--color-theme-white);
  } */
  
  /*Searchbar*/
  
  .navbar-desktop-searchbar-container {
    position: absolute;
    float: right;
    right: 10px;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  
    .searchbox {
      font-size: 0.9rem;
      max-width: 300px;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-desktop-searchbar-container #searchform {
      width: 100%;
    }
  }
  
  @media all and (max-width: 991px) {
    .navbar-desktop-container {
      display: none;
    }
  }