/**
 * Mobile navigation bar styles
 * 
 * @package acrux
 */
  
.navbar-mobile-container, .navbar-spacer {
    display: none;
  }
  
  @media all and (max-width: 991px) {
    .navbar-mobile-container {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1000;
      transition: background-color 1s;
    }
  
    .navbar-mobile-inner {
      position: absolute;
      left: 0;
      right: 0;
    }
  
    .navbar-mobile-open {
      background-color: #0000008f;
      top: 0 !important;
      bottom: 0 !important;
    }
  
    .navbar-mobile-top {
      top: 0;
      bottom: unset;
    }
  
    .navbar-mobile-bottom {
      top: unset;
      bottom: 0;
    }
  
    .banner-navbar-mobile-bottom h1 {
      margin-top: unset !important;
    }
  
    .navbar-mobile {
      background-color: #fff;
      color: var(--color-main);
      cursor: pointer;
      padding: 14px;
      border: none;
      outline: none;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      display: block;
      height: 58px;
      -webkit-box-shadow: 5px 1px 5px 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 5px 1px 5px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 5px 1px 5px 3px rgba(0, 0, 0, 0.1);
    }
  
    .navbar-mobile-close {
      background-color: inherit;
      color: #888;
      cursor: pointer;
      padding: 18px;
      border: none;
      outline: none;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      display: block;
    }
  
    .active, .navbar-mobile:hover {
      background-color: #eee;
    }
  
    .navbar-mobile-logo {
      width: 90px;
      height: 90px;
    }
  
    .navbar-mobile-padding {
      padding: 20px;
    }
  
    .navbar-mobile-content {
      padding: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: var(--color-dark);
      text-align: center;
      display: none;
      font-size: 1rem;
      color: #fff;
      font-family: inherit;
      text-transform: uppercase;
    }
  
    .menu-main-container {
      margin: 20px 0;
  
      li {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  
    .sub-menu li:last-child {
      border-bottom: none;
    }
  
    .menu-main-container {
      a {
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
      }
  
      ul {
        list-style: none;
        margin: unset;
        padding: unset;
      }
    }
  
    .header-social {
      margin: 10px;
  
      a {
        color: #fff;
        text-decoration: none;
  
        &:hover, &:focus {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  
    .navbar-spacer {
      display: block;
      height: 58px;
    }
  
    /* Sub menu */
  
    .navbar-mobile-container .menu-item-has-children .sub-menu a {
      color: #cacaca;
      font-size: .9rem;
    }
  
    ul span.expand-sub-menu {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      color: #fff;
      width: 30px;
      display: inline-grid;
      align-content: center;
      justify-content: center;
      transition: all 0.25s;
    }
  
    .toggle-down {
      transform: rotate(0deg);
    }
  
    .toggle-up {
      transform: rotate(180deg);
    }
  }