/**
 * Searchbar styles
 * 
 * @package acrux
 */

.searchbar-container {
    right: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .searchbox {
    background-color: var(--color-second);
    color: #fff;
    margin: 0 auto;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 25px;
    transition: all .2s ease;
    width: 400px;
    min-height: 27px;
    text-align: left;
  }
  
  #s {
    padding: 0;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: left;
    text-transform: initial;
    border: unset;
    outline: none;
    background-color: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    width: calc(100% - 20px);
  }
  
  #searchsubmit {
    float: right;
    border: none;
    padding: unset;
    margin: unset;
    outline: none;
    background: inherit;
    color: inherit;
    width: 20px;
    font-size: inherit;
    font-weight: inherit;
    min-height: inherit;
  }
  
  #searchform {
    margin: 0;
  }
  
  @media (max-width: 991px) {
    .searchbar-container {
      #searchform, .searchbox {
        width: 100%;
      }
    }
  }