/**
 * Text and typography styles
 * 
 * @package acrux
 */

h1 {
    margin: 1.5rem 0;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h2 {
    margin: 1.5rem 0;
    font-size: 1,9rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h3 {
    margin: 1.5rem 0;
    font-size: 1,5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  h4 {
    margin: 1.5rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  h5 {
    margin: 1.5rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  h6 {
    margin: 1.5rem 0;
    font-size: 1rem;
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    color: var(--color-main);
    font-weight: bold;
  }
  
  .main a {
    &:focus, &:hover {
      color: var(--color-main);
      text-decoration: underline;
    }
  }
  
  p {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .wp-block-quote {
    border-left: 4px solid #000;
    padding-left: 1em;
  }
   
  .entry-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-width);
  }
  
  .entry-meta {
    font-size: .9rem;
  }
  
  @media (max-width: 991px) {
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.7rem;
    }
  
    h3 {
      font-size: 1.3rem;
    }
  
    h4 {
      font-size: 1.2rem;
    }

    h5 {
      font-size: 1.1rem;
    }
  
    .page-content > * {
      max-width: 92%;
    }
  
    .entry-title {
      max-width: 92% !important;
    }
  }