/**
 * Custom WP login styles
 * 
 * @package acrux
 */

body.login {
    background: url('../img/login-bg.svg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: bottom left;
  
    div#login {
      form {
        &#loginform, &#lostpasswordform {
          border-radius: 15px;
        }
      }
  
      h1 a {
        background: url('../img/acrux-logo.png') !important;
        background-size: 84px !important;
        background-repeat: no-repeat;
      }
  
      form {
        &#loginform, &#lostpasswordform {
          padding: 60px 40px;
          background-color: #fff;
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body.login {
      background: url('../img/login-background.jpg') no-repeat center center;
      background-size: cover;
    }
  }
  
  @media (max-width: 767px) {
    body.login {
      background-position: 50% 50%;
    }
  }
  
  .privacy-policy-page-link {
    display: none;
  }
  
  .login {
    #backtoblog a, #nav a {
      color: #fff;
    }
  }