/**
 * Front page optional latest posts styles
 * 
 * @package acrux
 */

.latest-posts {
  padding: 20px 30px;
  background-color: #F7F7F7;
  width: 100%;
  padding-bottom: 60px;
}
.footer{
  margin-top: unset !important;
}